.top-container {

    background-color: #EAF6F6;
    margin-top: 0;
    margin-right:0;
    margin-left: 0;

    padding-top: 100px;

}

p{
    line-height: 2;
}

.intro{
    color:#40514E;
    width: 30%;
    margin:auto;
    padding-bottom: 10px;
}

.middle-container
{
    margin: 100px 0;
}
.bottom-container
{
    background-color: #66BFBF;
    margin-bottom: 0;
    padding: 50px 0px 20px;


}

body
{
    margin: 0;
    text-align:center;
    font-family:'Merriweather',serif ;
    line-height: 2;
    color: #40514E;
}

h1{
    font-size: 562.5%;
    font-family:'sacramento',serif;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat',serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat',serif;

    color: #11999E;
}

hr{
    border-style: dotted none none none;
    width: 10%;
    border-width: 8px;
    border-color: #EAF6F6;
    margin: 100px auto;
}

a{
    color: #11999E;

}

a:hover {
    color:#EAF6F6
}
.pro{
    text-decoration: underline;
}

.top-cloud{
    position:absolute;
    right:20%;
    top:40px;
}

.bottom-cloud{
    position:absolute;
    left: 20%;
    bottom: 30%;
    line-height: 2rem;
}

.skill-row {
    width: 50%;
    margin:80px auto 80px auto;
    text-align: left;

}

#matlab {
    width:"200px";
    height:"200px";
    position: relative;
    right: 11%;
}

.profile-pic{
    width:"150";
    height:"200";
    margin-top: 25px;
}

.footer-link{
    display:inline;
    align-content: center;
    margin: 50px 30px;
    color: #11999E ;
    font-family: 'Montserrat',serif;
    text-decoration: none;
    position: relative;
    top: 30px;

    
}

.copyright{
    position:relative;
    top:30px;
    color:#Eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat',serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }